.link-header{
  margin:10px;
  font-size:20px;
  text-decoration-style: wavy;
  text-decoration: none;
}

.custom-page-statement{
  font-size:50px;
}

.button-header{
  background-color:white;
  border: none;
  text-align: center;
  margin:10px;
  cursor: pointer;
  font-family:'sans-serif';
}

.back-ground{
  position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url(./media/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
