.link-header{
  margin:10px;
  font-size:20px;
  text-decoration-style: wavy;
  text-decoration: none;
}

.custom-page-statement{
  font-size:50px;
}

.button-header{
  background-color:white;
  border: none;
  text-align: center;
  margin:10px;
  cursor: pointer;
  font-family:'sans-serif';
}

.back-ground{
  background-image: url('./media/background.jpg');
  background-color: #cccccc; /* Used if the image is unavailable */
  height:1000px; /* You must set a specified height */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.notice-dialog{
  text-align:center;
  font-size: 16px;
  font-variant: inherit;
  color:grey;
  margin: 5px;
  font-family: sans-serif;
}
